/* 
 	@Author: Samadhi
	@Date: 2021-03-09
 */
 
body{
	margin: 0px;
}
header{
	background-color: #4CAF50;
	text-align: center;
}
h1{
	color: white;
}
#container{
	/*border: 1px solid #4CAF50;*/
	padding: 18px;
}
.row{
	/*border: 1px solid #4CAF50;*/
	display:inline-block;	
}
img{
	width: 100%;
}
.columns{
	/*border: 1px solid #4CAF50;*/
	width:23.10%;
	padding:20px 8px;
	float:left;
}
p{
	text-align: justify; 
}
footer{
	background-color:#4CAF50;
	height: 40px;
}
#text-center{
	text-align:center;
	padding-top: 9px;
	color: white;